﻿
@using BoardWepApp1.Models
@model IEnumerable<AdminInfo>

    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">관리자 로그인</div>
                </div>
                <div class="panel-body">
                    <form id="login-form" method="post" >
                        <div>
                            <input type="text" class="form-control" id="admin_id" name="admin_id" placeholder="아이디를 입력하세요" autofocus >
                        </div>
                        <div>
                            <input type="password" class="form-control" id="admin_password" name="admin_pasword" placeholder="패스워드를 입력하세요" >
                        </div>
                        <div>
                            <button type="submit" class="form-control btn btn-primary">로그인</button>
                        </div>
                    </form>
                </div>
             
            </div>
        </div>
    </div>
     @section scripts{
        <script>  
          $(document).ready(function(e){
              //로그인시도
                $("button[type=submit]").click(function(e){
                    e.preventDefault()
                    $.ajax({
                           url:"/Admin/AdminLoginTry",
                           type:"post",
                           data:{
                               "admin_id":$("#admin_id").val(),
                               "admin_password":$("#admin_password").val()
                                },
                           success: function(data){
                               if(data==1){
                                   location.replace('/Board')
                               }
                               else alert("로그인실패")
                           },
                           error:function(data){
                               console.log(data)
                           }
                    })        
                })  
          })
       </script>     
        }



      
        

