﻿
@using Microsoft.AspNetCore.Http

<div class="row">

  <div class="col-lg-12">

    
  	  <div class="panel-heading text-center">
        <h1>접수된 신고</h1>
      </div>   
        
      </div>  
      <!-- /.panel-heading -->
      <div class="panel-body" style="width:100%;">
        <table  class="table table-hover" id="reportList">
          <thead>
            <tr class="table-primary">
              <th >번호</th>
              <th  >게시글 번호</th>
              <th >reopot_sender</th>
              <th >신고 사유 </th>
              <th style="width:500px; text-align:center;" >신고 상세</th>
              <th >신고 날짜</th>
              <th>처리 상태</th>
              <th>체크 박스</th>
            </tr>
          </thead>
                @foreach(var report in Model)
                {
                    <tr >
                      <td>@report.report_num</td>
                      <td><a class='move' href='@report.report_board_num'>@report.report_board_num</a></td>
                      <td>@report.report_sender</td>
                      <td>@report.report_reason</td>
                      <td id="tdTitle" style="text-align:center; color:blue;" >@report.report_details</td>
                      @if (( DateTime.Now.Date- report.report_regdate.Date ).Days < 1 ) //날짜계산이안됨
                            {
                               <td>@report.report_regdate.ToString("HH:mm tt")</td>
                            }
                        @if((DateTime.Now.Date - report.report_regdate.Date).Days >= 1 )
                        {
                            <td>@report.report_regdate.ToString("MM월 dd일 ")</td>
                        }
                        <td>@report.report_result</td>
                        <td><input type="checkbox" id="result_checked+@report.report_num"></td>
                    </tr>
                }
            </table>   
      </div>
      <!-- /.panel-boby -->
    </div>
    <!-- /.panel -->
    <form action="AdminReportUpdate" method="post" id="updateForm" >
        <select id="report_result" name ="report_result">
            <option value="심사중">심사중</option>
            <option value="처리 완료">처리완료</option>
            <option value="삭제">삭제</option>
        </select>

        <input class="form-control me-sm-2" type='hidden' name="pageNum" value="@ViewBag.PageMaker.pagenation.pageNum">
        <input class="form-control me-sm-2" type='hidden' name="amount" value="@ViewBag.PageMaker.pagenation.amount">
        <input class="form-control me-sm-2" type="hidden" name="type" value='@ViewBag.PageMaker.pagenation.type'>
        <input class="form-control me-sm-2" type="hidden" name="keyword" value='@ViewBag.PageMaker.pagenation.keyword'>

        <input type="text" id="report_result_details" name="report_result_details" placeholder="자세한 내용" >
        
        <button id="updateSubmit" >전송하기</button>
    </form>
    <ul class="pagination float-right" >
    @if(ViewBag.PageMaker.prev){//뷰백 사용시 객체넘겨주기 편함 
        <li class="page-item button ">
        <a class="page-link" href="@ViewBag.PageMaker.startPage-1">&laquo;</a> <!-- &laquo;는 이전페이지가 화살표모양(<<)으로 바뀜 -->
        </li>
    }

    
    @for(int num = ViewBag.PageMaker.startPage; num<=ViewBag.PageMaker.endPage; num++){//페이지수만큼 버튼생성 후 현재 버튼에 색칠

        @if (ViewBag.PageMaker.pagenation.pageNum == num)
        {
           <li class="page-item button active "> 
                <a class="page-link" href="@num">@num</a>
           </li>
        }
         @if (ViewBag.PageMaker.pagenation.pageNum != num)
        {
           <li class="page-item button  ">   
                <a class="page-link" href="@num">@num</a>
           </li>
        }
    }
    @if(ViewBag.PageMaker.next){
        <li class="page-item button">
          <a class="page-link " href="@Convert.ToInt32(ViewBag.PageMaker.endPage+1)">&raquo;</a>
       </li>
    }
        
</ul>
        
       
  </div>
  <form class="d-flex" action="/Board/Index" id='actionForm' method="get">
            <input class="form-control me-sm-2" type='hidden' name="pageNum" value="@ViewBag.PageMaker.pagenation.pageNum">
        	<input class="form-control me-sm-2" type='hidden' name="amount" value="@ViewBag.PageMaker.pagenation.amount">
        	<input class="form-control me-sm-2" type="hidden" name="type" value='@ViewBag.PageMaker.pagenation.type'>
            <input class="form-control me-sm-2" type="hidden" name="keyword" value='@ViewBag.PageMaker.pagenation.keyword'>
        </form>

@section scripts{
    <script>
      $(document).ready(function(){
           var actionForm = $("#actionForm");
           $(".page-item.button a").click(function(e){
	           e.preventDefault(); 
	           var thisis = $(this).attr("href"); 
	           actionForm.find("input[name='pageNum']").val(thisis);
	           actionForm.submit();
           })
         $(".move").click(function(e){
             e.preventDefault();
             var board_num=$("input[name=board_num]").val()
             if(board_num){
    	         board_num=$(this).attr('href')
    	         actionForm.append("<input type='hidden' name='board_num' value='" +board_num+"'>");
             }
             else{  
    	         actionForm.append("<input type='hidden' name='board_num' value='" +$(this).attr("href")+"'>");
             }
	         console.log($(this).attr('href'))
	         actionForm.attr("action","/Board/Details");
	         actionForm.submit();

         })

         $("#updateSubmit").click(function(e){
            e.preventDefault()
            var checked_report_result_id = $("#reportList").find("input[type='checkbox']:checked")
            var report_num_list=[]
            $.each(checked_report_result_id,function(index,value){
               report_num_list.push(value['id'].replace(/[^0-9]/g,''))
            })
            
            console.log(report_num_list.join(","))
            console.log($("#report_result").val())
            console.log($("#report_result_details").val())
            $("#updateForm").append('<input type="hidden" name="report_num_list" value="'+report_num_list.join(",")+'">')
            $("#updateForm").submit()
         })
      
     
     })
     
    </script>
}