﻿@using Microsoft.AspNetCore.Http

<div class="row">

  <div class="col-lg-12">
  	  <div class="panel-heading text-center">
        <h1>유저 목록</h1>
      </div>   
      <h5 class="float-right" style="color:blue;">@ViewBag.PageMaker.total 개의 데이터가 검색되었습니다. </h5>
      </div>  
      <!-- /.panel-heading -->
      <div class="panel-body" style="width:100%">
        <table  class="table table-hover" id="reportList">
          <thead>
            <tr class="table-primary">
              <th >번호</th>
              <th  >유저아이디</th>
              <th >유저이름</th>
              <th >유저 이메일 </th>
              <th >유저 상태</th>

            </tr>
          </thead>
                @foreach(var user in Model)
                {
                    <tr >
                      <td>@user.user_num</td>
                      <td><a class='move' href='@user.user_num'>@user.user_id</a></td>
                      <td>@user.user_name</td>
                      <td>@user.user_email</td>
                      <td >@user.user_type</td>
                    </tr>
                }
            </table>   
      </div>
      <!-- /.panel-boby -->

    </div>

  </div>
  <form class="d-flex" action="/Board/Index" id='actionForm' method="get">
    <input class="form-control me-sm-2" type='hidden' name="pageNum" value="@ViewBag.PageMaker.pagenation.pageNum">
    <input class="form-control me-sm-2" type='hidden' name="amount" value="@ViewBag.PageMaker.pagenation.amount">
    <input class="form-control me-sm-2" type="hidden" name="type" value='@ViewBag.PageMaker.pagenation.type'>
    <input class="form-control me-sm-2" type="hidden" name="keyword" value='@ViewBag.PageMaker.pagenation.keyword'>
</form>

@section scripts{
    <script>
        $(document).ready(function(){
           $(".move").click(function(e){
	           e.preventDefault(); 
	           var user_num = $(this).attr("href"); 
               $.ajax({
                   type:'get',
                   url:'/Account/GetUserInfoWithPost',
                   data:{
                       "user_num":user_num
                   },
                   success:function(user){
                       $("#user_id").val(user.user_id),
                       $("#user_name").val(user.user_name),
                       $("#user_board_count").val(user.user_board_count),
                       $("#user_reply_count").val(user.user_reply_count)
                       if(user.user_profile != "" ){
                           $("#modal_user_profile").find('img').attr('src',user.user_profile)
                       }
                       else{
                           $("#modal_user_profile").find('img').attr('src',"/BoardImages/basic_profile(1).png")
                       }
                       $("#user_information").modal('show')
                      
                   },
                   error:function(){
                       alert("에러 발생")
                   }
               })

           })
        })
    </script>
}