﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TL Community</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>



</head>
<body>
    
    <header>
      
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <a class="navbar-brand" href="/Board/Index">게시판</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    @if (@Context.Session.GetString("admin_session") != null)
    {
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" id="manage_report" aria-disabled="true">접수된 신고</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" id="manage_user" aria-disabled="true">회원 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" id="regist_notice" aria-disabled="true">공지 작성</a>
      </li>
    }
    @if (@Context.Session.GetString("admin_session") == null)
    {           
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">공지사항</a>
      </li>
    }
         
    </ul>
  </div>
  
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown"  >
          
           @if (@Context.Session.GetString("user_session")==null && @Context.Session.GetString("admin_session") == null  )
            {   

              <a class="dropdown-item" href='/Account/Login' >로그인하기</a>

                 
            }
             @if (@Context.Session.GetString("user_session")!=null)
            {  
                <a class="dropdown-item" href="/Account/ModifyInfo">정보 수정</a>
                <a class="dropdown-item" href='/Account/Logout' >로그아웃하기</a>
                <div class="dropdown-divider" ></div>
                <div id="user_relation">
                  <a class="dropdown-item" id="user_friend_list" >친구목록</a>
                  <a class="dropdown-item" id="user_friend_request_list">친구요청</a>
                  <a class="dropdown-item" id="user_block_list" >차단목록</a>
               </div>

            } 
            @if (@Context.Session.GetString("admin_session") != null)
            {
               <a class="dropdown-item" href='/Account/Logout' >로그아웃하기</a>
              
            }
             <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" id="user_search" placeholder="유저 검색" aria-label="Search">
                
                <button class="btn btn-outline-success my-2 my-sm-0" id="user_search_submit" >검색</button>
            </form>    

            </div>
      </li>
      </ul>

  <div id ="hello"> </div>
</nav>

 <!-- 클릭시 나오는 회원정보 modal -->
        <div class="modal fade" id="user_information" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:1060;"  >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">     
                    <h4 class="modal-title" id="myModalLabel">회원정보</h4>
                  </div>
                  <!-- modal-header -->
                  <div class="modal-body" id="info_modal_body" >
                  	   <div class="form-group" id="modal_user_profile" style="text-align:center;">
	                    <p class='text-center'>프로필 사진</p><img src="/BoardImages/basic_profile(1).png" width="80%">
	                  
	                  </div>
                      
                       <div class="form-group">
                        <label for="">아이디</label>
                        <input type="text" class="form-control" name="user_id" id="user_id" value=""  readonly />
                      </div>
                      <div class="form-group">
                        <label for="">이름</label>
                        <input type="text" class="form-control" name="user_name" id="user_name" value=""  readonly />
                      </div>
                       <div class="form-group">
                        <label for="">작성한 게시글수 </label><div class='btn btn-outline-primary float-right' id="showUserPost">보러가기</div>
                        <input type="text" class="form-control" name="user_board_count"  id="user_board_count" value=""  readonly />
                      </div>
                       <div class="form-group">
                        <label for="">작성한 댓글 수</label>
                        <input type="text" class="form-control" name="user_reply_count"  id="user_reply_count" value=""  readonly />
                      </div>
                  </div>
                  <!-- modal-body -->
                  <div class="modal-footer" id="info_modal_footer" >
                    <button class="btn btn-secondary " id="friend_regist_btn" type="button">친구 추가</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger " id="block_regist_btn"  type="button">차단하기</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" id="user_Information_close" type="button" width="50px">닫기</button>
                  </div>
                </div>
              </div>
            </div>
         <!-- 클릭시 나오는 회원정보 modal end -->


         <!--유저 검색시 나오는 검색결과창 -->
         	<div class="modal fade" id="user_search_result_list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">회원목록</h4>
                    <div id="request_buttons" style="display:none" >
                        <button id="ReceiveRequest">받은 요청</button>
                        <button id="SendRequest">보낸 요청</button>
                    </div>
                  </div>
                  <!-- modal-header -->
                  <div class="modal-body">
	 				 <table  class="table table-hover" id="user_list_table">
                         
                            
                     </table>   

                  </div>
                  <!-- modal-body -->
                  <div class="modal-footer">
                    <button class="btn btn-info" id="user_search_result_list_close" type="button">닫기</button>
                  </div>
                </div>
              </div>
            </div>





    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BoardWepApp1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script> *@
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

 
<script>
     var user_session= "@Context.Session.GetString("user_session")"
     var admin_session="@Context.Session.GetString("admin_session")"

    var user_button_clicked = {// 친구목록, 요청목록,차단목록 버튼 클릭여부 확인
        relation_type: "",
        user_friend_list : false,
        user_friend_request_list : false,
        user_block_list : false
    }
      

    const change_user_button_clicked = (button_id) => {//클릭된 버튼 제외 false 로 바꾸고 유저와의 관계를 담는 변수 에 값 저장
        for (var key in user_button_clicked) {
            user_button_clicked[key] =  key == button_id ? true : false
            if(user_button_clicked[key] == true){
                user_button_clicked.relation_type = key.split("_").length == 4 ? key.split("_")[1]+key.split("_")[2] : key.split("_")[1]
            }        
        }
    }

        var request_buttons_clicked ={// 받은요청, 보낸요청
        "ReceiveRequest" : false,
        "SendRequest" : false,
    }
    const change_request_buttons_clicked = (button_id) => {//받은요청,보낸 요청 클릭시 
        for (var key in request_buttons_clicked){
            request_buttons_clicked[key] = key ==button_id ? true : false
        }
    }

 $(document).ready(function(e){
    
     if(user_session == "" && admin_session == ""){
         $("#hello").append("비회원님 반갑습니다")
     }
     else {
         $("#hello").append((user_session || admin_session )+"님 반갑습니다")
     }
  
      
         $("#user_relation a").click(function(e){//유저관계에 해당하는 a태그 눌렸을때 해당되는 유저리스트를 목록에서 가져옴 
            e.preventDefault()
            change_user_button_clicked($(this).attr('id'))
            if(user_button_clicked.relation_type == "friendrequest"){
                $("#ReceiveRequest").trigger('click')
                return false
            }
            $.ajax({
                url:'/Account/GetUserRelationList',
                type:'Get',
                data:{
                    "relation_accepted" : true ,
                    "relation_type" :  user_button_clicked.relation_type ,
                    "relation_sender_id" : user_session
                },
                success:function(userList){
                       $("#user_list_table").html('')
                    var userListStr = []
                   
                    if (userList.length == 0) {
                        userListStr.push(
                            "<img src='/BoardImages/no_result(1).jpg' style='width:450px; height:450px;' >"+
                            "<h5>없어요</h5>"
                            
                        )
                    }
                    else {
                         userListStr.push(
                            '<thead>'+
                            '<tr class="table" style="width:100%">'+
                            '<th  >프로필 사진</th>'+
                            '<th >아이디</th>'+
                            '<th >이름 </th>'+
                            '<th></th>'+
                            '</tr>'+
                            '</thead>'
                        )
                        $.each(userList, function (index,value) {
                            userListStr.push(
                                "<tr>"+
                                "<td>"+ 
                                (value.user_profile == "" ? "<img src='/BoardImages/basic_profile(1).png' style='width:45px; height:45px;' > " :
                                    "<img src='"+value.user_profile+"' style='width:45px; height:45px;' > ")
                                +"</td>"+
                                "<td><a class='get_user_information' href='"+value.user_num+"' >" +value.user_id+"</a></td>"+
                                "<td>"+value.user_name+"<td>"+
                                "<td id='updateRequest' >"+
                                "<button id = 'DeleteRequest' class = 'btn btn-danger' > 삭제 </button></td>"+
                                "</tr>"
                            
                            )
                        })
                       
                    }
                     $("#user_search_result_list").modal('show')
                        $("#user_list_table").html(userListStr)
                        if(user_button_clicked.relation_type != "friendrequest"){//친구 요청이 아닌 경우 받은요청,보낸요청 버튼 안보이게 
                            $("#request_buttons").css('display','none')
                        }
                },
                error:function(data){
                    console.log(data)
                }
            })
        })


        $("#request_buttons button").click(function(e){//받은요청, 보낸요청 클릭시 
            e.preventDefault()
            var url = $(this).attr('id')
            change_request_buttons_clicked(url)

            $.ajax({
                url:"/Account/" + $(this).attr('id'), 
                type:'get',
                data:{
                    "relation_accepted" : false ,
                    "relation_type" :  "friend" ,
                    "relation_sender_id" : user_session
                },
                success:function(userList){
                       $("#user_list_table").html('')
                    var userListStr = []
                    if (userList.length == 0) {
                       userListStr.push( 
                           "<img src='/BoardImages/no_result(1).jpg' style='width:450px; height:450px;' >"+
                            "<h5>없어요</h5>"
                       )
                    }
                    else {
                        userListStr.push(
                            '<thead>'+
                            '<tr class="table" style="width:100%">'+
                            '<th  >프로필 사진</th>'+
                            '<th >아이디</th>'+
                            '<th >이름 </th>'+
                            '<th>처리 상태</th>'+
                            '</tr>'+
                            '</thead>'
                        )
                        $.each(userList, function (index,value) {
                            userListStr.push(
                                "<tr>"+
                                "<td>"+ 
                                (value.user_profile == "" ? "<img src='/BoardImages/basic_profile(1).png' style='width:45px; height:45px;' > " :
                                    "<img src='"+value.user_profile+"' style='width:45px; height:45px;' > ")
                                +"</td>"+
                                "<td><a class='get_user_information' href='"+value.user_num+"' >" +value.user_id+"</a></td>"+
                                "<td>"+value.user_name+"</td>"+
                                "<td id='updateRequest' >"+
                                (url == "ReceiveRequest"  ?  "<button id='AcceptRequest' class='btn btn-primary' > 수락 </button>" : "")+ 
                                "<button id = 'DeleteRequest' class = 'btn btn-danger' > 삭제 </button></td>"+
                                "</tr>"
                            
                            )
                        })
                     
                    }
                       $("#user_search_result_list").modal('show')
                        $("#user_list_table").html(userListStr)
                        $("#request_buttons").css('display','')//받은요청 보낸요청 보이게
                },
                error:function(data){
                    console.log(data)
                }
            })
        })


         $("#friend_regist_btn,#block_regist_btn").click(function (e) {//친구 추가 버튼 눌렸을 때 
            var receiver_id = $(this).parents().find("#user_id").val()
            console.log(receiver_id)
            $.ajax({
                url: "/Account/RelationRegist",
                type: "post",
                data: {
                    relation_sender_id : user_session,
                    relation_receiver_id: receiver_id,
                    relation_type:  $(this).attr('id') == "friend_regist_btn" ? "friend" : "block",
                    relation_accepted : $(this).attr('id') == "friend_regist_btn" ?  false : true
                },
                success: function (data) {
                    if (data) {
                        alert("요청 성공")
                    }
                    else {
                        alert("친구,차단 목록에 존재하거나 수락 대기중인 유저입니다")
                    }
                }
            })
        })


        var msg = "@TempData["msg"]"
        if(msg != ""){
            alert(msg)
        }
   

    $("#user_search_submit").click(function (e) {
        e.preventDefault()
        if($("#user_search").val().length < 3){
            alert("정확한 결과를 위해 3글자 이상 입력해주세요")
            return false
        }
        
        $.ajax({
            type: 'get',
            url: '/Account/GetSearchUserInfoList',
            data: {
                "user_id": $("#user_search").val() 
            },
            success: function (userList) {
                $("#user_list_table").html('')
                var userListStr = []
                if (userList.length == 0) {
                    alert("조회 결과가 없습니다")
                }
                else {
                   
                    userListStr.push(
                        '<thead>'+
                        '<tr class="table" style="width:100%">'+
                        '<th  >프로필 사진</th>'+
                        '<th >아이디</th>'+
                        '<th >이름 </th>'+
                        '</tr>'+
                        '</thead>'
                    )
                    $.each(userList, function (index,value) {
                        userListStr.push(
                            "<tr>"+
                            "<td>"+ 
                            (value.user_profile == "" ? "<img src='/BoardImages/basic_profile(1).png' style='width:45px; height:45px;' > " :
                                "<img src='"+value.user_profile+"' style='width:45px; height:45px;' > ")
                            +"</td>"+
                            "<td><a class='get_user_information' href='"+value.user_num+"' >" +value.user_id+"</a></td>"+
                            "<td>"+value.user_name+"<td>"+
                            "</tr>"    
                        )
                    })
                    $("#user_search_result_list").modal('show')
                    $("#user_list_table").html(userListStr)
                    console.log($("#user_information_list"))
                    
                }
                
            },
            error: function (data) {
                console.log(data)
            }
        })//검색결과 ajax 종료
    })//검색결과 function 종료


    $("#user_search_result_list_close").click(function(e){
        $("#user_search_result_list").modal('hide')
    })

 })

 $(document).on('click','a.get_user_information',function(e){
     e.preventDefault()
    var user_num = $(this).attr('href')
    $.ajax({
            type:'get',
            url:'/Account/GetUserInfoWithPost',
            data:{
                "user_num":user_num
            },
            success:function(user){
                $("#user_id").val(user.user_id),
                $("#user_name").val(user.user_name),
                $("#user_board_count").val(user.user_board_count),
                $("#user_reply_count").val(user.user_reply_count)
                if(user.user_profile != "" ){
                    $("#modal_user_profile").find('img').attr('src',user.user_profile)
                }
                else{
                    $("#modal_user_profile").find('img').attr('src',"/BoardImages/basic_profile(1).png")
                }
                $("#user_information").modal('show').focus()
                      
            },
            error:function(){
                alert("에러 발생")
            }
        })
 })


 $(document).on("click","#AcceptRequest",function(e){//친구요청에서 수락이나 삭제 누를 경우
     $.ajax({
         url:"/Account/AcceptRequest",
         type:'post',
         data:{
             relation_sender_id: $(this).parent().parent().find('a').text() ,
             relation_receiver_id: user_session,
             relation_type:'friend',   
         },
        success:function(data){
             if(data) alert("처리 완료")
             else alert("처리 실패")   
             $("#ReceiveRequest").trigger('click')
         },
         error:function(data){
             console.log(data)
         }
     })
 })

 $(document).on("click","#DeleteRequest",function(e){
     console.log("삭제 눌림")
      $.ajax({
         url:"/Account/DeleteRequest",
         type:'post',
         data:{
             relation_sender_id: $(this).parent().parent().find('a').text() ,
             relation_receiver_id: user_session,
         },
         success:function(data){
             if(data) alert("처리 완료")
             else alert("처리 실패")   

             if(request_buttons_clicked["ReceiveRequest"]){
                 $("#ReceiveRequest").trigger('click')
             }
             else{
                 $("#SendRequest").trigger('click')
             }
         },
         error:function(data){
             console.log(data)
         }
     })
 })
</script>

</html>
