﻿
@using BoardWepApp1.Models
@model IEnumerable<UserInfo>




<title>@ViewData["Title"]- 로그인 </title>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">TL Community</div>
                </div>
                <div class="panel-body">
                    <form id="login-form" method="post" >
                        <div>
                            <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력하세요" autofocus>
                        </div>
                        <div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="패스워드를 입력하세요">
                        </div>
                        <div>
                            <button type="submit" class="form-control btn btn-primary">로그인</button>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                  회원이 아니십니까? <a href="SignUp"> 회원가입하러가기</a><br />
                  기억이안나요 <button class= "btn btn-outline-danger" id="findIdBtn" >아이디</button> or <button class="btn btn-outline-primary" id="findPwdBtn" >비밀번호</button>
                </div>
            </div>
        </div>
    </div>
          
    <!-- 아이디 찾기 모달창 -->
    		<div class="modal fade" id="findId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">아이디찾기</h4>
                  </div>
                  <!-- modal-header -->
                   <div>
                        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="이름을 입력하세요" autofocus>
                    </div>
                    <div>
                        <input type="tel" class="form-control" id="user_phone_findId" name="user_phone" placeholder="휴대폰번호를 입력하세요">
                    </div>
                  <!-- modal-body -->
                  <div class="modal-footer">
                    <button class="btn btn-primary" id="findIdSubmit" type="button">찾기</button>
                    <button class="btn btn-info" id="findIdClose" type="button">닫기</button>
                  </div>
                </div>
              </div>
            </div>

             <!-- 패스워드 찾기 모달창 -->
            <div class="modal fade" id="findPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">패스워드 초기화</h4>
                  </div>
                  <!-- modal-header -->
                   <div>
                        <input type="text" class="form-control" id="user_id" name="user_id" placeholder="아이디를 입력하세요" autofocus>
                    </div>
                    <div>
                        <input type="tel" class="form-control" id="user_phone_findPwd" name="user_phone" placeholder="휴대폰번호를 입력하세요">
                    </div>
                  <!-- modal-body -->
                  <div class="modal-footer">
                    <button class="btn btn-primary" id="findPwdSubmit" type="button">찾기</button>
                    <button class="btn btn-info" id="findPwdClose" type="button">닫기</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="changePwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">패스워드 변경</h4>
                  </div>
                  <!-- modal-header -->
                   <div>
                        <input type="text" class="form-control" id="user_id2"  readonly>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="change_user_password"  placeholder="비밀번호를 입력해주세요">
                    </div>
                    <div>
                        <input type="password" class="form-control" id="change_user_passwordCheck"  placeholder="비밀번호를 다시입력해주세요">
                    </div>
                    <div id="pwdCheck"></div>
                  <!-- modal-body -->
                  <div class="modal-footer">
                    <button class="btn btn-primary" id="changePwdSubmit" type="button">변경하기</button>
                    <button class="btn btn-info" id="changePwdClose" type="button">닫기</button>
                  </div>
                </div>
              </div>
            </div>



        @section scripts{
        <script>

           
          $(document).ready(function(e){

              //로그인시도
                $("button[type=submit]").click(function(e){
                    e.preventDefault()
                    console.log
                    $.ajax({
                         url:"/Account/LoginTry",
                           type:"post",
                           data:{
                               "user_id":$("#id").val(),
                               "user_password":$("#password").val()
                                },
                           success: function(data){
                               if(data=="Success"){
                                   location.replace('/Board')
                               }
                               else alert(data)
                           },
                           error:function(data){
                               console.log(data)
                           }
                    })
                    
                })

                $("#findIdBtn").click(function(){
                    $("#findId").modal('show')
                })
                $("#findPwdBtn").click(function(){
                    $("#findPwd").modal('show')
                })
                $("#findIdClose").click(function(){
                    $("#findId").modal('hide')
                })
                 $("#findPwdClose").click(function(){
                    $("#findPwd").modal('hide')
                })
                  $("#changePwdClose").click(function(){
                      if(confirm("비밀번호변경 하지않고 창을닫으시겠습니까?")){
                         $("#changePwd").modal('hide')
                      }
                })

                //아이디 찾기 눌렀을때 Ajax처리 
                $("#findIdSubmit").click(function(){
                    $.ajax({
                        url:'FindId',
                        type:'post',
                        data:{
                            "user_name":$("#user_name").val(),
                            "user_phone":$("#user_phone_findId").val()
                        },
                        success:function(data){
                            alert(data)
                        },
                        error:function(data){
                            console.log(data)
                        }
                    })
                })
                //비밀번호 찾기 눌렀을때 Ajax처리 성공시 비밀번호변경 modal창 띄움
                $("#findPwdSubmit").click(function(){
                    $.ajax({
                        url:'FindPwd',
                        type:'post',
                        data:{
                            "user_id":$("#user_id").val(),
                            "user_phone":$("#user_phone_findPwd").val()
                        },
                        success:function(data){
                            if(data==1){
                                $("#findPwd").modal('hide')
                                $("#changePwd").modal('show')
                                $("#user_id2").val($("#user_id").val())
                            }
                            else{
                                alert("잘못된 회원정보입니다")
                            }
                        },
                        error:function(data){
                            console.log(data)
                        }
                    })
                })

                const pwdCheck=()=>{
                   return $("#change_user_password").val() == $("#change_user_passwordCheck").val()
                }
                $("#change_user_passwordCheck").change(function(){
                    if(pwdCheck()){
                        $("#pwdCheck").text('비밀번호가 일치합니다').css('color','blue')
                    }
                    else{
                        $("#pwdCheck").text('비밀번호가 일치하지 않습니다').css('color','red')
                    }
                })

                $("#changePwdSubmit").click(function(){
                    if(!pwdCheck()){
                        alert("비밀번호가 일치하지않습니다")
                        return false
                    }
                    $.ajax({
                        url:'ChangePwd',
                        type:'post',
                        data:{
                            "user_id":$("#user_id2").val(),
                            "user_password":$("#change_user_password").val()
                        },
                        success:function(data){
                            if(data==1){
                               alert("비밀번호 변경이 성공적으로 완료되었습니다.로그인 해주세요")
                               location.reload();
                            }
                            else{
                                alert("에러발생. 다시시도해주세요")
                            }
                        },
                        error:function(data){
                            console.log(data)
                        }
                    })
                })

            })
        </script>

                
        }
        

