﻿


<title>@ViewData["Title"]- 회원정보 수정 </title>
    <article class="container">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                <h3>회원 정보 수정</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form role="form" action="/Account/UserModify" method="post" >
                    <div class="form-group">
                        <label for="inputName">성명</label>
                        <input type="text" class="form-control" id="inputName" name="user_name" value="@Model.user_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputId">아이디</label>
                        <input type="text" class="form-control" id="inputId" name="user_id" value="@Model.user_id" readonly >
                    </div>
                     <div class="form-group">
                        <label >프로필 사진</label>
                        <input type="file" id="user_profile" style="display:none;">
                        <input type="text" name="user_profile" />
	                </div>
                    <div id="uploadResult">
                               
	                </div>

                    <div class="form-group">
                        <label for="inputEmail">이메일 주소</label>
                        <input type="email" class="form-control" id="InputEmail" name="user_email" value="@Model.user_email" >
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">비밀번호<button id="updatePwd"  class="btn-outline-primary">수정하기</button></label>
                        <input type="hidden" class="form-control" id="inputPassword" onchange="checkPassword()" name="user_password" value="@Model.user_password">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="inputPasswordCheck" onchange="checkPassword()"  placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요" >
                    </div>
                    <div id="pwdCheckResult"></div>
                    <input type="hidden" id="user_address" name="user_address" value="@Model.user_address">

                    <div class="form-group">
                    <label for="inputAddress">주소</label><br />
                    <input type="text" id="sample4_postcode" placeholder="우편번호" readonly>
                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" id="findAddress" ><br>
                    <input type="text" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                    <input type="hidden" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                    <span id="guide" style="color:#999;display:none"></span>
                    <input type="text" id="sample4_detailAddress" placeholder="상세주소" readonly>
                    <input type="hidden" id="sample4_extraAddress" placeholder="참고항목">
                    </div>
                    


                    <div class="form-group">
                        <label for="inputMobile">휴대폰 번호</label>
                        <input type="text" class="form-control" id="user_phone" name="user_phone" value="@Model.user_phone">
                    </div>
                    <div class="form-group text-center">
                        <button  id="modifySubmit" class="btn btn-primary">
                            정보수정
                        </button>
                        <button id="backHome" class="btn btn-warning">
                            돌아가기
                        </button>
                    </div>
                </form>
            </div>
        </article>
        
    
        @section scripts{
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>

                var imageName= ""
                 $(document).on('click',"img",function(e){
                     var regex = new RegExp("(.*?)\.(png|jpeg|jpg|bmp|gif|jfif)$");
                     var maxSize = 5242880; //5MB
                     function checkExtension(fileName, fileSize) {
                         if (fileSize >= maxSize) {
                            alert("파일 사이즈 초과");
                            return false;
                          }
                          if (!regex.test(fileName)) {
                            alert("이미지파일만 올려주세요.");
                            return false;
                          }
                          return true;
                      }


                 if(confirm("프로필 사진을 변경하시겠습니까?")){
                     $("input[id='user_profile']").click()
                      $("input[id='user_profile']").change(function (e) {//파일 인풋 변경시 호출함수
                        var formData = new FormData();

                        var inputFile = $("input[id='user_profile']");
                        var files = inputFile[0].files; 
                        console.log(files)

                        if (!checkExtension(files[0].name, files[0].size)) {
                            return false;
                          }
                        formData.append("file", files[0]);               
                        $.ajax({
                            url: '/Board/UploadImageFile',
                            processData: false,
                            contentType: false,
                            data: formData,
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                imageName = result
                                $("input[name='user_profile']").val(result)
                                $("#uploadResult").html('').html("<img src='"+result+"' style='width:300px; height:300px;'> ")
                    
                            }
                        }); //ajax 
                    });
                 }

            
             })
                 

             

               function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                       
                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 참고 항목 변수

                        if(data.buildingName !== '' && data.apartment === 'Y'){
                           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }

                        if(extraRoadAddr !== ''){
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }


                        document.getElementById('sample4_postcode').value = data.zonecode;
                        document.getElementById("sample4_roadAddress").value = roadAddr;
                        document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                

                        if(roadAddr !== ''){
                            document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                        } else {
                            document.getElementById("sample4_extraAddress").value = '';
                        }

                        var guideTextBox = document.getElementById("guide");

                        if(data.autoRoadAddress) {
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                            guideTextBox.style.display = 'block';

                        } else if(data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                            guideTextBox.style.display = 'block';
                        } else {
                            guideTextBox.innerHTML = '';
                            guideTextBox.style.display = 'none';
                        }
                    }
                }).open();
            }
                  const checkPassword=()=>{
                        var pwd1 = $("#inputPassword").val()
                        var pwd2 = $("#inputPasswordCheck").val()
                        if(pwd1 == pwd2){
                            $("#pwdCheckResult").text("비밀번호가 일치합니다").css('color','blue')
                            return true;
                        }
                        else{
                            console.log(pwd1)
                            console.log(pwd2)
                            $("#pwdCheckResult").text("비밀번호가 일치하지 않습니다").css('color','red')
                            return false;
                        }
                    }

                

             $(document).ready(function(){
 
                var address=$("#user_address").val().split(",")
                
                $("#sample4_postcode").val(address[0])
                $("#sample4_roadAddress").val(address[1])
                $("#sample4_detailAddress").val(address[2])

                $("#findAddress").click(function(e){
                    $("#sample4_detailAddress").attr('readonly',false)
                })

                 $("#updatePwd").click(function(e){
                     e.preventDefault()
                      changePwd=true;
                      $("#inputPassword").attr('type','password')
                      $("#inputPasswordCheck").attr('type','password')
                      $("#inputPassword").val('').attr('readonly',false)
                 })

                    //패스워드 일치 체크 
                
                    var changePwd=false
                    var numCheck = /^[0-9]+$/;
                    var idCheck = /[^a-z|^0-9]/gi;
                    var lengthCheck = /^[a-z0-9_]{5,10}$/;
                    var nameCheck = /^[가-힣]{2,4}$/;

              

                    $("#modifySubmit").click(function(e){
                        var user_address=  $("#sample4_postcode").val()+","+$("#sample4_roadAddress").val()+","+$("#sample4_detailAddress").val()
                        $("#user_address").val(user_address)
                        if(!numCheck.test(parseInt($("#user_phone").val()))){
                            alert("휴대폰번호는 숫자만 입력해주세요")
                            return false
                        }
                        if(changePwd && !checkPassword()){
                            alert("비밀번호를 다시입력해주세요")
                            return false
                        }
                         $("input[name='user_profile']").val(imageName)  

                    })

                     $("#backHome").click(function (e) {
                      operForm.attr('action', '/Board/Index').submit()
                    })

                    if("@Model.user_profile" == ""){
                        $("#uploadResult").html("<img src='/BoardImages/basic_profile(1).png' style='width:300px; height:300px;'> ")
                    }
                    else{
                         $("#uploadResult").html("<img src='"+"@Model.user_profile"+"' style='width:300px; height:300px;'> ")
                    }
             })

            

             
            </script>
        }