﻿
@using BoardWepApp1.Models
@model IEnumerable<UserInfo>



<title>@ViewData["Title"]- 회원가입 </title>
<article class="container">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                <h3>회원가입</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form role="form" action="/Account/UserRegist" method="post" >
                    <div class="form-group">
                        <label for="inputName">성명</label>
                        <input type="text" class="form-control" id="inputName" name="user_name" placeholder="이름을 입력해 주세요">
                    </div>
                    <div id="app">
                      주민등록번호 <br/>
                    <input type="tel"  id="jumin1" name="inputValue" maxlength="6"> 
                     - <input type="input" id="jumin2" maxlength="7">
                    </div>
                    <div class="form-group">
                        <label for="inputId">아이디</label>
                        <input type="text" class="form-control" id="inputId" name="user_id" placeholder="아이디를 입력해 주세요" >
                        <button id="idCheck" class="btn-primary" >중복체크</button>
                        <button id="idChange" class="btn-primary" style="display:none" >아이디 변경</button>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">이메일 주소</label>
                        <input type="email" class="form-control" id="InputEmail" name="user_email" placeholder="이메일 주소를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">비밀번호</label>
                        <input type="password" class="form-control" id="inputPassword" name="user_password" onchange="checkPassword()" placeholder="비밀번호를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordCheck">비밀번호 확인</label>
                        <input type="password" class="form-control" id="inputPasswordCheck" onchange="checkPassword()" placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요">
                    </div>
                    <input type="hidden" id="user_address" name="user_address">
                    <input type="hidden" id="user_birthDay" name="user_birthDay">
                    <p id="pwdCheckResult"></p>
                    <div class="form-group">
                    <label for="inputAddress">주소</label><br />
                    <input type="text" id="sample4_postcode" placeholder="우편번호" readonly>
                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" id="findAddress" ><br>
                    <input type="text" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                    <input type="hidden" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                    <span id="guide" style="color:#999;display:none"></span>
                    <input type="text" id="sample4_detailAddress" placeholder="상세주소" readonly>
                    <input type="hidden" id="sample4_extraAddress" placeholder="참고항목">
                    
                    </div>
                    


                    <div class="form-group">
                        <label for="inputMobile">휴대폰 번호</label>
                        <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="휴대폰번호를 입력해 주세요">
                    </div>
                    <div class="form-group text-center">
                        <button  id="joinSubmit" class="btn btn-primary">
                            회원가입
                        </button>
                        <button type="submit" class="btn btn-warning">
                            가입취소
                        </button>
                     
                    </div>
                </form>
            </div>
        </article>
   
        @section scripts{
            <script src = "//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>
                var pass = {
                    idChecked:false,//아이디 체크
                    pwdChecked:false,//패스워드 체크
                }
                //패스워드 일치 체크 
                const checkPassword=()=>{
                    var pwd1 = $("#inputPassword").val()
                    var pwd2 = $("#inputPasswordCheck").val()
                    
                    if( $("#inputPassword").val().length ==0){
                       $("#pwdCheckResult").text("비밀번호를 입력해주세요").css('color','red')
                       pass.pwdChecked=false;
                    }
                    else if(pwd1 == pwd2){
                        pass.pwdChecked=true;
                        $("#pwdCheckResult").text("비밀번호가 일치합니다").css('color','blue')
                    }
                    else{
                        $("#pwdCheckResult").text("비밀번호가 일치하지 않습니다").css('color','red')
                        pass.pwdChecked=false;
                    }
                }


                //도로명주소 API 연동
                 function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                       
                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 참고 항목 변수

                        if(data.buildingName !== '' && data.apartment === 'Y'){
                           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }

                        if(extraRoadAddr !== ''){
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }

                        document.getElementById('sample4_postcode').value = data.zonecode;
                        document.getElementById("sample4_roadAddress").value = roadAddr;
                        document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                

                        if(roadAddr !== ''){
                            document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                        } else {
                            document.getElementById("sample4_extraAddress").value = '';
                        }

                        var guideTextBox = document.getElementById("guide");

                        if(data.autoRoadAddress) {
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                            guideTextBox.style.display = 'block';

                        } else if(data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                            guideTextBox.style.display = 'block';
                        } else {
                            guideTextBox.innerHTML = '';
                            guideTextBox.style.display = 'none';
                        }
                    }
                }).open();
            }
                
                

                $(document).ready(function(e){      
                    //정규식
                    var numCheck = /^[0-9]+$/;
                    var idCheck = /[^a-z|^0-9]/gi;
                    var lengthCheck = /^[a-z0-9_]{5,10}$/;
                    var nameCheck = /^[가-힣]{2,10}$/;
                    
                    
                   //id 중복 체크
                    $("#idCheck").click(function(e){
                        e.preventDefault()
                        if (idCheck.test($("#inputId").val())) {
                            alert("ID는 영숫자 조합만 사용하세요");
                            $("#inputId").val('')
                            return ;
                        }
                        else if(!lengthCheck.test($("#inputId").val())){
                            alert("5~10자 이내로 입력해주세요")
                            return ;
                        }
                        else{
                             $.ajax({
                               url:"IdCheck",
                               type:"post",
                               data:{"user_id":$("#inputId").val()},
                               success: function(data){
                                   if(data == 0){
                                       alert("회원가입가능한 아이디입니다")
                                       pass.idChecked=true;
                                       $("#inputId").attr('readonly',true)
                                       $("#idCheck").hide()
                                       $("#idChange").show()
                                   }
                                   else{
                                       alert("회원가입이 불가능한 아이디입니다")
                                       pass.idChecked=false;
                                   }
                               },
                               error:function(data){
                                   console.log(data)
                               }
                           })
                        }
                    })
                    $("#idChange").click(function(e){
                        e.preventDefault()
                        pass.idChecked=false;
                        $("#inputId").attr('readonly',false)
                        $("#idCheck").show()
                        $("#idChange").hide()
                    })

                    //회원가입 클릭시
                    $("#joinSubmit").click(function(e){
                        var user_address=  $("#sample4_postcode").val()+","+$("#sample4_roadAddress").val()+","+$("#sample4_detailAddress").val()
                        $("#user_address").val(user_address)
                        console.log($("#user_phone").val())
                        if(!numCheck.test(parseInt($("#user_phone").val()))){
                            alert("휴대폰번호는 숫자만 입력가능합니다")
                            return false;
                        }

                        else if(!nameCheck.test($("#inputName").val())){
                            alert("이름은 한글만 입력해주세요")
                            return false;
                        }
                       
                        else if($("#sample4_roadAddress").val()==""){
                            alert("주소를 입력해주세요")
                            return false;
                        }
                        else {
                             for(const key in pass){
                               if(!pass[key]){
                                   alert("필수 요청사항을 확인해주세요 ("+key+")")
                                   return false;
                               }
                            } 
                             $("#user_birthDay").val($("#jumin1").val()+second_birth)
                        }     
                    })

                    var second_birth ="";
                    //주소 입력버튼 클릭시 상세주소 입력가능
                     $("#findAddress").click(function(e){
                        $("#sample4_detailAddress").attr('readonly',false)
                    })

               
       

                    $("#jumin2").on('keydown', function(e){
                        var inVal="";
                        if ( event.keyCode === 8 ) {             //백스페이스
                                $("#juminE").val($("#juminE").val().slice(0,-1));                      
                        }else if(e.keyCode >=96 && e.keyCode <=105){
                            switch (e.keyCode) {
                                case 96 : inVal=0; break;
                                case 97 : inVal=1; break;
                                case 98 : inVal=2; break;
                                case 99 : inVal=3; break;
                                case 100 : inVal=4; break;
                                case 101 : inVal=5; break;
                                case 102 : inVal=6; break;
                                case 103 : inVal=7; break;
                                case 104 : inVal=8; break;
                                case 105 : inVal=9; break;
                                
                            }
                        }else if(e.keyCode >=48 && e.keyCode <= 57 ){
                           inVal = String.fromCharCode(e.keyCode);               
                        }
                        else{
                            e.preventDefault();
                            return false;
                        }            
                        var text = $(this).val();
                        if(text.length >= $(this).attr("maxlength")){
                            return;
                        }
                        //주민번호에 넣기 
                        second_birth += inVal;
                        second_birth.replace(/[^0-9]/g,"")
                    }).on('input',function(e){
                        $(this).val($(this).val().replace(/(?<=.{1})./gi, "*"));
                    });  
                })

               

              

                </script>
                
        }
        

