﻿@using Microsoft.AspNetCore.Http
<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
<title>@ViewData["Title"]- 게시글 조회</title>

  <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">게시글 조회 페이지</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
          
            <div class="form-group">         
            </div>
              <div class="form-group">
                <label for="writer">작성자</label>

                <input type="text" class="form-control" name="board_writer" id="board_writer" value="@Model.board_writer"  readonly />
              </div>
              <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="board_title" id="board_title" value="@Model.board_title" readonly />
              </div>
              <div class="form-group">
                <label for="content">내용</label>
                @Html.Raw(Model.board_content)
              </div>
              <button data-oper="modify" id="boardModifyBtn" class="btn btn-success" type="submit">수정</button>
              <button data-oper="list" class="btn btn-info" type="submit">게시글 목록</button>
                @if (@Context.Session.GetString("admin_session") != null)
                {
                    <button id="goBack" class="btn btn-danger" type="submit">돌아가기</button>
                }
                <button class="btn btn-danger" id="reportBtn" >신고하기</button>
              
              <div class="image float-right">
                 <input type="hidden" value="@ViewBag.Emotion.emotion_num"  id="emotion_num" />
                <img src="/BoardImages/recommended.png"  id="emotion_recommended"  width="40px" />
                <img src="/BoardImages/not_recommended.jpg"  id="emotion_not_recommended"  width="40px" />
                <img src="/BoardImages/sad.png"  id="emotion_upset"  width="40px" />
                <img src="/BoardImages/angry.png" id="emotion_anger"  width="40px" />
                <img src="/BoardImages/smile.png" id="emotion_pleased"  width="40px" />
            </div>
          </div>
          <!-- /.panel-boby -->
        </div>
        <!-- /.panel -->
      </div>
    </div>

        <div class="card my-3">
            <h5 class="card-header">댓글을 입력해주세요</h5>
            <div class="card-body">
                <form>
                    <div class="form-group"><textarea class="form-control" rows="3" id="board_reply_content" ></textarea></div>
                    <button class="btn btn-primary"  id="replyRegistBtn" >댓글등록</button>
                </form>
            </div>
        </div>

        <!-- Single comment-->
       
            <div id="showReplyList">

          
            </div>
           
        
       
   




  
    		    
    <!--신고하기 모달창  -->
        <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" >신고하기</h4>
                  </div>
                  <!-- modal-header -->
                  <div class="modal-body">
                      <input type="hidden" name="report_num"  id="report_num" value="@ViewBag.Report.report_num" />
					  <div class="form-group">
                        <input type="hidden" class="form-control" name="report_board_num" id="report_board_num"  value="@Model.board_num" readonly />
                      </div>
                      <div class="form-group">          
                        <input type="hidden" class="form-control" name="report_sender" id="report_sender" value="@Context.Session.GetString("user_session")" readonly />
                      </div>
                      <div class="form-group">
					  	<label class="control-label col-sm-3">신고사유 </label>
					    <div class="col-md-5 col-sm-8">
					       <select name="report_reason" class="form-control" id="report_reason"  >
						      <option value="">사유를 선택해주세요</option>
						      <option value="부적절한 컨텐츠">부적절한 컨텐츠</option>
						      <option value="욕설 ">욕설</option>
						      <option value="자극적인 내용">자극적인 내용</option>
						      <option value="과다한 반복 게시글">과다한 반복 게시글</option>
					       </select>
					    </div>
					 </div>      
					 
					 <div class="form-group">
			            <label for="content">세부내용</label>
			            <textarea name="report_details" id="report_details" rows="3" class="form-control" ></textarea>
		              </div>         
                  </div>
                  <!-- modal-body -->
                  <div class="modal-footer">
                   <button class="btn btn-success" id="reportUpdateBtn" type="button">등록</button>
                    <button class="btn btn-danger" id="reportDeleteBtn" type="button">삭제</button>
                    <button class="btn btn-primary" id="reportCloseBtn" type="button">닫기</button>
                  </div>
                </div>
              </div>
           </div>
        <!--신고하기 모달창 끝-->

      <form action="" method="get" id="operForm">
              <input type="hidden" id="board_num" name="board_num" value="@Model.board_num" />
              <input class="form-control me-sm-2" type='hidden' name="pageNum" value="@ViewBag.PageMaker.pagenation.pageNum">
        	<input class="form-control me-sm-2" type='hidden' name="amount" value="@ViewBag.PageMaker.pagenation.amount">
        	<input class="form-control me-sm-2" type="hidden" name="type" value='@ViewBag.PageMaker.pagenation.type'>
            <input class="form-control me-sm-2" type="hidden" name="keyword" value='@ViewBag.PageMaker.pagenation.keyword'>
    </form>

    
       <form class="d-flex" action="/Board/Index" id='actionForm' method="get">
            <input class="form-control me-sm-2" type='hidden' name="PageNum" id="replyPageNum" value="1" >
        	<input class="form-control me-sm-2" type='hidden' name="Amount" id="replyAmount" value="10">
      </form>


    @section scripts{
        <script>
        $(document).ready(function(e){
            var commentClicked=false
           
            // 댓글 가져오기 
            const getReplyList =( )=>{
                $("#showReplyList").text('')
                $.ajax({
                    type:'post',
                    url:'GetReplyListWithPage',
                    data:{
                        "board_num":@Model.board_num,
                        "amount":$("#replyAmount").val(),
                        "pageNum":$("#replyPageNum").val()
                    },
                    success:function(returnList){

                        //댓글리스트 반복문
                       $.each(returnList[0], function(index, elements){
                           var replyStr= [];
                            var date =  new Date(elements.reply_regdate)
                            var day = new Date().getDate()-date.getDate()//댓글 작성일 계산
                            var hour = date.getHours() > 9 ? date.getHours() : "0"+date.getHours() //댓글 작성 시간
                            var minute = date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()//댓글 작성 시간
                            var regdate = day >= 1 ?  day+"일 전" : hour+":"+minute //댓글 작성시간 보이기
                            var showBtns = elements.reply_replyer == user_session ? '<button class="close" id="replyUpdateBtn"><i class="fa-solid fa-pen "></i></button> </h5>' : ''//댓글 수정버튼 보이기
                           if(elements.reply_depth==0){
                                replyStr.push(
                                   '<div class="media mb-4">'+
                                   '<img class="d-flex mr-3 rounded-circle" src="/BoardImages/basic_profile(1).png" style="width:50px; height:50px;" />'+
                                   ' <div class="media-body" id="reply_num'+elements.reply_num+'" >'+
                                   '<h5 class="mt-0">'+elements.reply_replyer+showBtns+'</h5>'+
                                   '<div class="reply_content" id="reply_content">'+
                                   elements.reply_content+'</div>'+
                                   '<div class="float-right">'+regdate+'</div>'+
                                   '</div></div>'
                                )      
                                 $("#showReplyList").append(replyStr)
                           }
                           else{
                               replyStr.push(
                                   '<div class ="media mt-4">'+
                                   '⤷ <img class="d-flex mr-3 rounded-circle" src="/BoardImages/basic_profile(1).png" style="width:50px; height:50px;" />'+
                                   '<div class="media-body" id="reply_num'+elements.reply_num+'">'+
                                   ' <h5 class="mt-0">'+elements.reply_replyer+showBtns+'</h5>'+
                                    '<div class="reply_content">'+
                                   elements.reply_content+'</div>'+
                                   '<div class="float-right">'+regdate+'</div>'+
                                   '</div></div>'
                               )
                               $("#reply_num"+elements.reply_group).append(replyStr)
                           }
                          
                       })//댓글 리스트 반복문 종료.


                       //댓글 페이징처리
                       var paginationStr = [];
                       paginationStr.push("<ul class='pagination'>")
                       if(returnList[1].prev){
                           paginationStr.push(
                                "<li class ='page-item button'>"+
                                "<a class='page-link' href='"+returnList[1].startPage-1+"'>&laquo;</a></li>"
                           )
                       }
                       for(var num = returnList[1].startPage; num<=returnList[1].endPage; num++){

                            paginationStr.push( returnList[1].pagenation.pageNum == num ? 
                                "<li class='page-item button active'>" :"<li class='page-item button'>"
                            )

                          paginationStr.push(" <a class = 'page-link' href='"+num+"'>"+num+"</a></li> ")

                       }
                       if(returnList[1].next){
                           paginationStr.push(
                               "<li class='page-item button'>"+
                               "<a class= 'page-link' href='"+(returnList[1].endPage+1)+"' >&raquo;</a></li>"
                           )
                       }
                       paginationStr.push("</ul>")
                       $("#showReplyList").append(paginationStr.join(""))//페이징 처리 종료

                    }//success callback end
                })//getReplyList ajax  end
            }//getReplyList end
            getReplyList()
            $(document).on("click",".page-item.button a",function(e){
               e.preventDefault()
               var pageNum=$(this).attr('href')
               $("#replyPageNum").val(pageNum)
               getReplyList()

            })
            $(document).on("click","#replyUpdateBtn",function(){
                var reply_num =$(this).parent().parent().attr('id').replace(/[^0-9]/g,'')
                var reply_content =$(this).parent().parent().find($(".reply_content"))
                console.log(reply_content.length)
                
                //댓글 내용을 textarea로 바꿈(부모 댓글일 경우 배열의 0번째, 대댓글인경우 배열이 아니므로 [0]빼줌 )
                if(reply_content.length != 1){
                    console.log("부모댓글",reply_content[0])
                    $(this).parents().find($("#reply_update_content")).contents().unwrap().wrap('<div class="reply_content" id="reply_content"></div>')
                    $(this).parent().parent().find($(".reply_content")[0]).contents().unwrap().wrap('<textarea class="reply_content" id="reply_update_content" style="width:900px"></textarea>')
                }
                else{
                    $(this).parents().find($("#reply_update_content")).contents().unwrap().wrap('<div class="reply_content" id="reply_content"></div>')
                    $(this).parent().parent().find($(".reply_content")).contents().unwrap().wrap('<textarea class="reply_content" id="reply_update_content" style="width:900px"></textarea>')

                }

                $(this).parents().find($("#updateBtns")).remove()//수정버튼이 눌릴때마다 제거 후 
    

                $(this).parent().append('<div id="updateBtns"> <button id="replyUpdateSubmit">수정</button>'+
                                                   '<button id="replyDeleteSubmit">삭제</button><button id="replyUpdateClose">취소</button></div>')//수정,삭제,취소버튼 생성

                $("#replyUpdateSubmit").click(function(){
                    var reply_content= $(this).parents().find($("#reply_update_content")).val()
                    if(user_session == ""){
                        alert("세션이 만료되었습니다. 다시 로그인 해주세요")
                        return false;
                    }
                    $.ajax({
                        type:'post',
                        url:'ReplyUpdate',
                        data:{
                            "reply_num":reply_num,
                            "reply_replyer":user_session,
                            "reply_content":reply_content,
                            "reply_board_num":@Model.board_num,
                        },
                        success:function(data){
                            if(data){
                                alert("수정 완료")
                                getReplyList()
                            }
                            else{
                                alert("수정 실패")
                            }
                        },
                        error:function(data){
                            console.log(data)
                        }
                    })
                })
                $("#replyDeleteSubmit").click(function(){
                    $.ajax({
                        type:'post',
                        url:'ReplyDelete',
                        data:{
                              "reply_num":reply_num,
                              "reply_replyer":user_session
                        },
                        success:function(data){
                            if(data){
                                alert("삭제 완료")
                            }
                            else{
                                alert("삭제 실패")
                            }
                            getReplyList()
                        }
                    })
                })
                $("#replyUpdateClose").click(function(){//
                    $(this).parent().parent().parent().find($("#reply_update_content")).contents().unwrap().wrap('<div class="reply_content" id="reply_content"></div>')
                    $(this).parent().remove()
                   
                })
            })

            //댓글 내용 클릭시 대댓글 창 띄운 후 각각 이벤트에 대한 처리
            $(document).on("click", "#reply_content" ,function(){
                var addReply = [];
                var group_num=$(this).parent().attr('id').replace(/[^0-9]/g,'')
                addReply.push(
                    '<div class ="media mt-4">'+
                    '⤷ <img class="d-flex mr-3 rounded-circle" src="/BoardImages/basic_profile(1).png" style="width:50px; height:50px;" />'+
                    '<div class="media-body">'+
                    ' <h5 class="mt-0">'+user_session+'</h5>'+
                    '<textarea style="width:450px;"></textarea class="form-control" ><br>'+'<button id="commentSubmit">보내기</button>'+
                    '<button id ="commentClose">닫기</button>'+
                    '</div></div>'
                )
                //대댓글창 열려있는지 확인
                if(!commentClicked){
                    $(this).parent().append(addReply)
                    commentClicked = true;
                }

                //대댓글창 닫기
                $("#commentClose").click(function(){
                    $(this).parent().parent().remove()
                    commentClicked = false;
                })


                //대댓글 전송 클릭
                $("#commentSubmit").click(function(){
                    var reply_content=$(this).parent().find('textarea').val()
                    if(reply_content.length==0){
                        alert('내용을 입력해주세요')
                        return false
                    }
                    else if(user_session==""){
                        alert('비회원은 이용이 불가능합니다')
                        return false
                    }
                    else{
                        $.ajax({
                            url:'replyRegist',
                            type:'post',
                            data:{
                                 "reply_replyer":user_session,
                                 "reply_content":$(this).parent().find('textarea').val(),
                                 "reply_board_num": "@Model.board_num",
                                 "reply_group":group_num,
                                 "reply_depth":1
                            },
                            success:function(data){
                                  if(data){
                                     alert("대댓글 등록 완료!")
                                     $(this).parent().parent().remove()
                                     commentClicked = false;
                                     getReplyList()
                                 }
                                 else{
                                     alert("등록 실패")
                                 }
                            },
                            error:function(data){
                                console.log(data)
                            }
                        })
                    }
                })
            })
            


            var user_session= "@Context.Session.GetString("user_session")"
            var admin_session = "@Context.Session.GetString("admin_session")"
            var operForm = $('#operForm')
            var showModifyBtn =user_session=="@Model.board_writer"
            var showReportBtn =user_session!=""
            var reported= @ViewBag.Report.report_num != 0 ? true : false

            if(!showModifyBtn && admin_session == ""){//권한 없는 경우 게시글 수정 버튼숨기기
                $("#boardModifyBtn").hide()
            }
            if(!showReportBtn){//비회원일 경우 게시글 신고 버튼 숨기기
                $("#reportBtn").hide()
            }

            //댓글 등록 버튼 클릭시
            $("#replyRegistBtn").click(function(e){
                e.preventDefault()
                 if(user_session == "" && admin_session == ""){
                  alert("비회원은 이용할수 없습니다")
                    return false;
                 }
                 else if($("#board_reply_content").val().length==0){
                     alert("내용을 입력해주세요")
                 }
                 else{
                     $.ajax({
                         type:'post',
                         url:'replyRegist',
                         data:{
                             "reply_replyer":user_session || admin_session,
                             "reply_content":$("#board_reply_content").val(),
                             "reply_board_num": "@Model.board_num"
                         },
                         success:function(data){
                             if(data){
                                 alert("댓글 등록 완료!")
                                 getReplyList()
                             }
                             else{
                                 alert("등록 실패")
                             }
                         },
                         error:function(error){
                             console.log(error)
                         }
                     })
                 }
            })
            //감정표현 클릭여부 확인하는 객체
            var emotionClicked={
                "emotion_recommended":false,
                "emotion_not_recommended":false,
                "emotion_anger":false,
                "emotion_upset":false,
                "emotion_pleased":false
            }
           $(".image").find("img").css('border','3px solid white')


            // 컨트롤러에서 업데이트하기전 사용자에게 감정표현 현황 보여주고 ajax로 업데이트
           $(".image").find("img").click(function(e){
               if(user_session == "" && admin_session == "" ){
                   alert("비회원은 이용할수 없습니다")
                   return false;
               }
               changeColor($(this).attr('id'))//이미지 테두리씌우기, 여부갱신 함수 호출
               $.ajax({
                   type:'post',
                   url:'EmotionUpdate',
                   data:{
                       "emotion_num" :  $("#emotion_num").val(),
                       "emotion_sender":user_session || admin_session,
                       "emotion_board_num":$("#board_num").val(),
                       "emotion_recommended":emotionClicked["emotion_recommended"],
                       "emotion_not_recommended":emotionClicked["emotion_not_recommended"],
                       "emotion_anger":emotionClicked["emotion_anger"],
                       "emotion_upset":emotionClicked["emotion_upset"],
                       "emotion_pleased":emotionClicked["emotion_pleased"]
                   },
                   success:function(data){
                       $("#emotion_num").val(data.emotion_num)
                   },
                   error:function(data){
                       console.log(data)
                   }
               })
           })
           //감정표현 여부 갱신 및 테두리 색상변경 함수 
            const changeColor = (imageId) =>{
                $.each(emotionClicked, function(key){
                    emotionClicked[key] = key==imageId ? emotionClicked[key] : false //클릭한 이미지를 제외하고 모두 false로 변경, 클릭한 이미지는 그대로 놔둠
                    $("#"+key).css('border','3px solid white')
                    if(key == imageId) {//클릭한 이미지 테두리 색,클릭여부 변경
                        if(emotionClicked[key]){//이미 눌려져있을 경우
                            emotionClicked[key] = false
                            $("#"+key).css('border','3px solid white')//다시 흰색으로 돌림
                           return false;
                        }
                        emotionClicked[key] = true
                        $("#"+key).css('border','3px solid red')//빨간테두리 씌움
                    }
                })       
            }
             var clickedImage=@ViewBag.Emotion.GetTrue()
             changeColor($(clickedImage).attr('id'))//해당유저가 이미감정표현한 게시글에 접속시 클릭했던 버튼 을 데이터베이스에서 가져와 확인후 체크


            //접속유저와 게시글 작성자가 일치하지않을 경우 수정 버튼 숨김
           


            //게시글 수정하기 클릭시
            $("button[data-oper='modify']").click(function (e) {
                operForm.attr('action', '/Board/Modify').submit()
            })
            //게시글 목록으로가기 클릭시
            $("button[data-oper='list']").click(function (e) {
              operForm.find('#board_num').remove() //operForm 에서 id가 board_num인 것을 찾아 삭제
              operForm.attr('action', '/Board/Index').submit()
            })
            $("#goBack").click(function(e){
                history.back()
            })

            $("#addReplyBtn").click(function(){
                $("#replyModal").modal('show')
            })

            //신고버튼 눌렸을때 모달show
            $("#reportBtn").click(function(e){
                if($("#board_writer").val() == "@Context.Session.GetString("user_session")" ){
                    alert("본인의 게시글에 신고할 수 없습니다")
                    return false
                }

                else if(!reported){
                    $("#reportModal").modal('show')
                }

                else if(confirm("이미 신고한 게시글입니다 수정 OR 삭제 하시겠습니까?")){
                    if(@ViewBag.Report.report_num!=0){
                        $("#report_reason").val("@ViewBag.Report.report_reason" )
                        $("#report_details").val("@ViewBag.Report.report_details")
                    }
                    $("#reportModal").modal('show')   
                }
               
                else return false
            })
            //신고닫기 버튼눌렸을때 모달hide
            $("#reportCloseBtn").click(function(e){
                $("#reportModal").modal('hide')
            })

            $("#reportDeleteBtn").click(function(e){//update랑 같은방식,, 없애고 재활용하기
                $.ajax({
                    data:{
                        "report_num":$("#report_num").val(),
                        "report_board_num":$("#report_board_num").val(),
                        "report_sender":$("#report_sender").val(),
                        "report_reason":$("#report_reason").val(),
                        "report_details":$("#report_details").val()
                    },
                    url:'ReportDelete',
                    type:'post',
                    success:function(data){
                        $("#report_num").val(data.report_num)
                        $("#report_reason").val(data.report_reason)
                        $("#report_details").val(data.report_details)
                        reported= data.report_num != 0 ? true : false
                        $("#reportModal").modal('hide')
                    },
                    error:function(data){
                        console.log(data)
                    }
                })
            })
            
            $("#reportUpdateBtn").click(function(e){
                var reason= $("#report_reason").val()
                var details=$("#report_details").val()
                if(reason=="" || details==""){
                    alert("신고사유와 세부내용을 입력해주세요 ")
                    return false
                }
                $.ajax({
                    data:{
                        "report_num":$("#report_num").val(),
                        "report_board_num":$("#report_board_num").val(),
                        "report_sender":$("#report_sender").val(),
                        "report_reason":reason,
                        "report_details":details
                    },
                    url:'ReportUpdate',
                    type:'post',
                    success:function(data){
                        $("#report_num").val(data.report_num)
                        $("#report_reason").val(data.report_reason)
                        $("#report_details").val(data.report_details)
                        reported= data.report_num != 0 ? true : false
                        $("#reportModal").modal('hide')
                    },
                    error:function(data){
                        console.log(data)
                    }      
                })
            })
           
            //textarea summernote에디터 사용해서 변경
            $('#board_content').summernote({
              toolbar:[],
		      height: 300,                 // 에디터 높이
		      minHeight: null,             // 최소 높이
		      maxHeight: null,             // 최대 높이
		      focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		      lang: "ko-KR",					// 한글 설정
		      placeholder: '최대 2048자까지 쓸 수 있습니다'	,//placeholder 설정
              popover: {         //팝오버 설정
    	            image: [], //이미지 삭제
    	            link: [],  //링크 삭제
    	            air: []

    	      }
	        });
            $("#board_content").summernote('disable')

        })//JQuery End
        </script>
    }
