﻿
@using Microsoft.AspNetCore.Http
<title>@ViewData["Title"]- 게시글 목록</title>



<div class="row">
  <div class="col-lg-12">
       <div  class="float-left"  style="color:red;">
             공지사항
         </div>
          <div class="panel-body">
        <table  class="table table-hover" id="dataTables-example">
         
                @foreach(var notice in ViewBag.NoticeList)
                {
                    <tr >
                      <td id="tdTitle" style="text-align:center; color:blue; width:600px;" ><a class='move' href='@notice.board_num'>   @notice.board_title </a></td>  
                      @if (( DateTime.Now.Date- notice.board_regdate.Date ).Days < 1 ) 
                            {
                               <td class="float-right">@notice.board_regdate.ToString("HH:mm tt")</td>
                            }
                        @if((DateTime.Now.Date - notice.board_regdate.Date).Days >= 1 )
                        {
                            <td class="float-right">@notice.board_regdate.ToString("MM월 dd일 ")</td>
                        }
                    </tr>
                }
            </table>   
      </div>

  	  <div class="panel-heading text-center">
        <h1>자유게시판</h1>
      </div>   
        
         @if (@Context.Session.GetString("user_session")!=null)
            {
              <a href="/Board/Regist" id="regBtn" type="button" class="btn btn-outline-success float-right">새로운 게시글 등록</a>     	
            }
      </div>  
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table  class="table table-hover" id="dataTables-example">
          <thead>
            <tr class="table-primary">
              <th class="thNum">번호</th>
              <th class="thTitle" style="width:800px; text-align:center;">제목</th>
              <th class="thWriter">작성자</th>
              <th class="thRegdate">작성일</th>
              <th class="thViews">조회수</th>
            </tr>
          </thead>
                @foreach(var board in Model)
                {
                    <tr >
                      <td>@board.board_num</td>
                      <td id="tdTitle" style="text-align:center; color:blue;" ><a class='move' href='@board.board_num'>   @board.board_title </a></td>
                      <td>@board.board_writer</td>
                      @if (( DateTime.Now.Date- board.board_regdate.Date ).Days < 1 ) //날짜계산이안됨
                            {
                               <td>@board.board_regdate.ToString("HH:mm tt")</td>
                            }
                        @if((DateTime.Now.Date - board.board_regdate.Date).Days >= 1 )
                        {
                            <td>@board.board_regdate.ToString("MM월 dd일 ")</td>
                        }

                      <td>@board.board_views</td>
                    </tr>
                }
            </table>   
      </div>

      

            <form class="form-inline my-2 my-lg-0" action="/Board/Index" id="searchForm" method="get">
              <fieldset>
                <select name="type" class="form-control" style="border:2px solid rgba(0,0,0,.26);">
                <option value="T W C" >전체</option>
                <option value="T" >제목</option>
                <option value="C" > 내용</option>
                <option value="W">작성자</option>
                <option value="T C">제목 또는 내용</option>
                <option value="T W" >제목 또는 작성자</option>
              </select>
              <input type="text" name="keyword" class="form-control"/>
              <input type="hidden" name="pageNum" value='@ViewBag.PageMaker.pagenation.pageNum' class="form-control">
              <input type="hidden" name="amount" value='@ViewBag.PageMaker.pagenation.amount' class="form-control">
              
              <button class="btn btn-outline-success">검색</button>
              </fieldset>
              
            </form>
          


        <form class="d-flex" action="/Board/Index" id='actionForm' method="get">
            <input class="form-control me-sm-2" type='hidden' name="pageNum" value="@ViewBag.PageMaker.pagenation.pageNum">
        	<input class="form-control me-sm-2" type='hidden' name="amount" value="@ViewBag.PageMaker.pagenation.amount">
        	<input class="form-control me-sm-2" type="hidden" name="type" value='@ViewBag.PageMaker.pagenation.type'>
            <input class="form-control me-sm-2" type="hidden" name="keyword" value='@ViewBag.PageMaker.pagenation.keyword'>
        </form>

      <!-- /.panel-boby -->
    </div>
   
    <!-- /.panel -->
    <div>
       <ul class="pagination float-right" >
            @if(ViewBag.PageMaker.prev){//뷰백 사용시 객체넘겨주기 편함 
                <li class="page-item button ">
                <a class="page-link" href="@ViewBag.PageMaker.startPage-1">&laquo;</a> <!-- &laquo;는 이전페이지가 화살표모양(<<)으로 바뀜 -->
                </li>
            }

    
            @for(int num = ViewBag.PageMaker.startPage; num<=ViewBag.PageMaker.endPage; num++){//페이지수만큼 버튼생성 후 현재 버튼에 색칠

                @if (ViewBag.PageMaker.pagenation.pageNum == num)
                {
                   <li class="page-item button active "> 
                        <a class="page-link" href="@num">@num</a>
                   </li>
                }
                 @if (ViewBag.PageMaker.pagenation.pageNum != num)
                {
                   <li class="page-item button  ">   
                        <a class="page-link" href="@num">@num</a>
                   </li>
                }
            }
            @if(ViewBag.PageMaker.next){
                <li class="page-item button">
                  <a class="page-link " href="@Convert.ToInt32(ViewBag.PageMaker.endPage+1)">&raquo;</a>
               </li>
            }
        </ul>
    </div><br />
  </div>


  @section scripts{
      <script>
       $(document).ready(function(){
           var actionForm = $("#actionForm");
           $(".page-item.button a").click(function(e){
	           e.preventDefault(); 
	           var thisis = $(this).attr("href"); 
	           actionForm.find("input[name='pageNum']").val(thisis);
	           actionForm.submit();
           })
         $(".move").click(function(e){
             e.preventDefault();
             var board_num=$("input[name=board_num]").val()
             if(board_num){
    	         board_num=$(this).attr('href')
    	         actionForm.append("<input type='hidden' name='board_num' value='" +board_num+"'>");
             }
             else{  
    	         actionForm.append("<input type='hidden' name='board_num' value='" +$(this).attr("href")+"'>");
             }
	         console.log($(this).attr('href'))
	         actionForm.attr("action","/Board/Details");
	         actionForm.submit();
         })

          var searchForm = $("#searchForm");
           $("#searchForm button").click(function(e){
               if( $("input[name='keyword']").val().length <2 ){
                   alert("정확한 검색을 위해 2글자 이상 입력해주세요")
                   return false
               }
	           console.log("버튼눌림")
	           console.log($("select[name='type']").val())
	           console.log($("input[name='keyword']").val())
	           searchForm.find("input[name='pageNum']").val("1");
	           e.preventDefault();
	          searchForm.submit();
	   
	           //브라우저에서 검색 버튼을 클릭하면 form 태그의 전송은 막고 페이지의 번호는 1이 되도록 처리 
	           //화면에서 키워드가 없으면 검색을 허용하지 않음 
           })
           $("option[value='@ViewBag.PageMaker.pagenation.type']").attr('selected',true)
           $("input[name='keyword']").val("@ViewBag.PageMaker.pagenation.keyword")
          
       })
      </script>
  }

