﻿@using Microsoft.AspNetCore.Http

<title>@ViewData["Title"]- 게시글 수정</title>

  <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">게시글 수정 페이지</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <form action="/Board/BoardUpdate" method="post" id="operForm">
            <div class="form-group">

            
            </div>
            <input type="hidden" value="@Model.board_num"  name="board_num"/>
              <div class="form-group">
                <label for="writer">작성자</label>
                <input type="text" class="form-control" name="board_writer" id="board_writer"  value="@Model.board_writer" readonly />
              </div>
              <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="board_title" id="board_title" value="@Model.board_title" />
              </div>
              <div class="form-group">
                <label for="content">내용</label>
                <textarea name="board_content" id="board_content" rows="3" class="form-control">@Model.board_content</textarea>
              </div>

              <button id="listBtn" class="btn btn-info" type="button">목록으로가기</button>
              <button id="modifyBtn" class="btn btn-danger" type="submit">수정하기</button>

            </form>
          </div>
          <!-- /.panel-boby -->
        </div>
        <!-- /.panel -->
      </div>
    </div>


    @section scripts{
        <script>
        $(document).ready(function(e){
            //작성자 현재세션값(해당유저 아이디)으로 저장

            //textarea summernote에디터 사용해서 변경
            $('#board_content').summernote({
		      height: 300,                 // 에디터 높이
		      minHeight: null,             // 최소 높이
		      maxHeight: null,             // 최대 높이
		      focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		      lang: "ko-KR",					// 한글 설정
		      placeholder: '최대 2048자까지 쓸 수 있습니다'	,//placeholder 설정
                popover: {         //팝오버 설정
    	            image: [], //이미지 삭제
    	            link: [],  //링크 삭제
    	            air: []

    	      },
             callbacks: {	//여기 부분이 이미지를 첨부하는 부분
					onImageUpload : function(files) {
						uploadSummernoteImageFile(files[0],this);
					},
					onPaste: function (e) {
						var clipboardData = e.originalEvent.clipboardData;
						if (clipboardData && clipboardData.items && clipboardData.items.length) {
							var item = clipboardData.items[0];
							if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
								e.preventDefault();
							}
						}
					}
				}
	        });
            function uploadSummernoteImageFile(file, editor) {
		        data = new FormData();
		        data.append("file", file);
		        $.ajax({
                   
			        data : data,
			        type : "post",
			        url : "UploadImageFile",
			        contentType : false,
			        processData : false,
			        success : function(data) {
                        console.log(data)
				        $(editor).summernote('insertImage',data);
			        },
                    error:function(data){
                        console.log(data)
                    }
		        });
	        }
             const nullDataCheck=(title,content)=>{
                   if(title.length==0) {
                       alert("제목을 입력해주세요")
                       return false
                   }
                    
                   else if (content.length==0){
                      alert("내용을 입력해주세요")
                      return false
                   }
                   else return true;
                }

            $("#modifyBtn").click(function(e){
               if(! nullDataCheck( $("#board_title").val(),$("#board_content").val()) ){
                   e.preventDefault()
               }
            })

        })
        </script>
    }
